@charset "utf-8";

.lfe-container{
    position: absolute;
    top:0;left:0;
    overflow: visible;


    --target-top:0px;
    --target-left:0px;
    --target-width:0px;
    --target-height:0px;
    --target-right:0px;/* 자동계산 */
    --target-bottom:0px;/* 자동계산 */

    --wrap-top:0px; /* 자동계산 */
    --wrap-left:0px; /* 자동계산 */
    --wrap-width:0px;
    --wrap-height:0px;
    --wrap-right:0px;/* 자동계산 */
    --wrap-bottom:0px;/* 자동계산 */
    --wrap-margin:20px;

    --transition-duration: 0.5s;
    pointer-events: none;
}
.lfe-container .lfe-wrap{
    position: fixed;
    top:0;left:0;
    /* display: none; */
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;

    --target-right:calc( var(--target-left) + var(--target-width));
    --target-bottom:calc( var(--target-top) + var(--target-height));
    --wrap-right:calc( var(--wrap-left) + var(--wrap-width));
    --wrap-bottom:calc( var(--wrap-top) + var(--wrap-height));

    left:clamp(calc(0px + var(--wrap-margin)),var(--wrap-left), calc(100vw - var(--wrap-width) - var(--wrap-margin)));
    top:clamp(calc(0px + var(--wrap-margin)),var(--wrap-top), calc(100vh - var(--wrap-height) - var(--wrap-margin)));
}
.debug .lfe-wrap{
    background-color: #aabbcc33;
    outline: 2px dotted #000;;
    outline-offset: 0px;
}


.lfe-container .lfe-wrap.on{
    /* display: block; */
    /* visibility: visible; */
    opacity: 1;
}
.lfe-container .lfe-wrap.on .lfe-layer{
    pointer-events: all;

}


.lfe-container .lfe-wrap[data-lfe-wrap="top"]{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) - var(--wrap-height));
}
.lfe-container .lfe-wrap[data-lfe-wrap="bottom"]{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + var(--target-height));
}
.lfe-container .lfe-wrap[data-lfe-wrap="left"]{
    --wrap-left:calc(var(--target-left) - var(--wrap-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap[data-lfe-wrap="right"]{
    --wrap-left:calc(var(--target-left) + var(--target-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap[data-lfe-wrap="center"]{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}

.lfe-container .lfe-wrap[data-lfe-wrap="top"][data-lfe-wrap-side="in"]{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top));
}
.lfe-container .lfe-wrap[data-lfe-wrap="bottom"][data-lfe-wrap-side="in"]{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + var(--target-height) - var(--wrap-height));
}
.lfe-container .lfe-wrap[data-lfe-wrap="left"][data-lfe-wrap-side="in"]{
    --wrap-left:calc(var(--target-left));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap[data-lfe-wrap="right"][data-lfe-wrap-side="in"]{
    --wrap-left:calc(var(--target-left) + var(--target-width)  - var(--wrap-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}

/* 고정 설정. data-lfe-wrap ,data-lfe-wrap-side 보다 우선 */
.lfe-container .lfe-wrap.lfe-wrap-top{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) - var(--wrap-height));
}
.lfe-container .lfe-wrap.lfe-wrap-bottom{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + var(--target-height));
}
.lfe-container .lfe-wrap.lfe-wrap-left{
    --wrap-left:calc(var(--target-left) - var(--wrap-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap.lfe-wrap-right{
    --wrap-left:calc(var(--target-left) + var(--target-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap.lfe-wrap-center{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}

.lfe-container .lfe-wrap.lfe-wrap-top.lfe-wrap-side-in{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top));
}
.lfe-container .lfe-wrap.lfe-wrap-bottom.lfe-wrap-side-in{
    --wrap-left:calc(var(--target-left) + (var(--target-width) - var(--wrap-width)) / 2);
    --wrap-top:calc(var(--target-top) + var(--target-height) - var(--wrap-height));
}
.lfe-container .lfe-wrap.lfe-wrap-left.lfe-wrap-side-in{
    --wrap-left:calc(var(--target-left));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}
.lfe-container .lfe-wrap.lfe-wrap-right.lfe-wrap-side-in{
    --wrap-left:calc(var(--target-left) + var(--target-width)  - var(--wrap-width));
    --wrap-top:calc(var(--target-top) + (var(--target-height) - var(--wrap-height)) / 2);
}




/* 모션을 위한 추가 처리 */
.lfe-container .lfe-wrap.lfe-motion-fade .lfe-layer{
    opacity: 0;
}
.lfe-container .lfe-wrap.lfe-motion-fade.on .lfe-layer{
    opacity: 1;
}
.lfe-wrap.lfe-motion-fade.on .lfe-layer{
    transition: opacity ease var(--transition-duration);
}

.lfe-container .lfe-wrap.lfe-motion-scale  .lfe-layer{
    opacity: 0;
    transform: scale(0);
}
.lfe-container .lfe-wrap.lfe-motion-scale.on  .lfe-layer{
    opacity: 1;
    transform: scale(1);
}
.lfe-wrap.lfe-motion-scale.on  .lfe-layer{
    transition: all ease var(--transition-duration);
}




